<!DOCTYPE HTML>
<html>

<body>
    {{>header}}
      <div class="main-content">
             <p>This is the about page. This is for learning purpose.</p>
              <img class="portrait" src="/img/me.jpeg">
    </div>
</body>
{{>footer}}
</html>