<!DOCTYPE HTML>
<html>

<link rel="stylesheet" href="/css/style.css">


<body>
 {{>header}}
    <div class="main-content">
    <p> Created by {{owner}}. Get the current weather update in your location</p>

    <form>
        <input placeholder="City Name">
        <button  >Search</button>
    </form>
<p id="msg1"></p>
<p id="msg2"></p>

    </div>
    
</body>
{{>footer}}
<script src="/js/mainApp.js"></script>
</html>